body {
    background-color: rgb(225, 255, 255);
}

header {
    background-color: rgb(0, 0, 0);
    /* aplico color fonde al encabezado */
    text-align: cente r;
    background-color: rgb(255, 199, 135);
    height: 200px;
    text-align: center;

    background-color: azure;
    background: #3b84a1;
    background: linear-gradient(90deg, rgba(59, 132, 161, 1) 0%, rgba(0, 200, 255, undefined) 100%);

}

h1 {
    background-color: rgb(255, 255, 255);
    /* aplico color y tamaño al h1*/
    height: 50px;

}

nav ul li {
    display: inline-block;
    /* aliniar los navegadores del nav*/
}

nav ul li a {
    text-decoration: none;
    /* le puse color al fondo del main*/
    color: rgb(154, 194, 255);
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;

}





footer {
    background-image: url(assets/img/VUELO.jpeg);
    /*puse las imagenes en el footer*/

    font-size: 500px;

}


h2 {
    text-align: center;
    /*puse todos los h2 en color y los center*/
    color: rgb(48, 184, 189);
    font-weight: bolder;
    font-size: 30px;
    text-decoration: double;


}



.section5 {
    text-align: right;
    /*puse las fotos en el lado derecho*/
}