/* comentario de css*/
header{
    background-color: chocolate;
}
/* selector por id*/
#nombre{
    color:coral;
    font-size: 0.7cm; /*tamaño de fuentes*/ 
    text-align: center;
    font-weight:;
}